@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  background-color: var(--ocrer-light);
  min-width: 375px;
}

/* INICIO HEADER */

header {
  display: flex;
  justify-content: space-between;
  height: 137px;
  background-color: var(--ocrer-light);
  padding: 30px;
}

.logo {
  width: 100px;
  height: 100px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.main-nav.show {
  margin-left: 0;
}

.nav-links {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 20px;
  align-items: left;
  justify-content: flex-start;
}

.link-item {
  margin-top: 2rem;
  color: var(--morado);
  font-family: "Inter", sans-serif;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: var(--ocre);
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover {
  color: var(--ocre);
}

.link-item1:hover::after {
  width: 18%;
}
.link-item2:hover::after {
  width: 49%;
}
.link-item3:hover::after {
  width: 36%;
}
.link-item4:hover::after {
  width: 24%;
}

.link-item5:hover::after {
  width: 40%;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--morado);
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

/* FIN HEADER */

.huella1 {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 20px;
}

.huellas {
  width: 50px;
}

/* INICIO SECTION */

.seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ocrer-light);
}

.marcoBoton {
  background-color: var(--ocrer-light);
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  align-items: center;
}

.titulo {
  display: flex;
  place-content: column;
  background-color: var(--ocrer-light);
  font-family: "Inter", sans-serif;
  font-weight: medium;
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  text-align: center;
  margin: 40px;
  margin-top: 10px;
  max-width: 900px;
  font-size: var(--text-large);
  color: var(--morado);
}

.adopta {
  font-size: var(--text-medium);
  margin-top: 50px;
  border-radius: 30px;
  border-style: none;
  box-shadow: 0px 0px 30px 3px var(--morado-light);
  background-color: white;
}

.adopta:hover {
  background-color: var(--rosado);
}
.adopta:focus {
  background-color: var(--morado);
}

button::after {
  background-color: var(--rosado);
}
button a {
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--morado);
}

button a:active {
  color: white;
}

/* FIN SECTION */

.huella2 {
  display: flex;
  margin-left: 20px;
  margin-bottom: -22px;
}

/* GALERIA HOME */
/*
.galeriaPrincipal {
  width: 100vw;

  display: flex;
  place-content: center;
}


.foto1 {
  margin-top: -15px;
  margin-left: 40px;
  width: 250px;
  transform: rotate(-12deg);
}


.foto2 {
  margin-top: 15px;
  margin-left: 50px;
  width: 430px;
  height: 300px;
  transform: rotate(-8deg);
}


.foto3 {
  margin-top: -50px;
  margin-left: 50px;
  width: 250px;
}


.foto4 {
  margin-top: -15px;
  margin-left: 50px;
  width: 250px;
  transform: rotate(5deg);
}

.foto5 {
  margin-top: -15px;
  margin-left: 50px;
  width: 250px;
  transform: rotate(12deg);
}
*/

/* INICIO SECTION ENLACES */
.iconoEnlace {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 80px;
  background-color: white;
}

.conjuntoAdopta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  color: var(--morado);
  margin-bottom: 20px;
}

.icono {
  width: 100px;
  height: 100px;
  margin-bottom: 60px;
}

.icono:hover {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}

/* FIN SECTION ENLACES */

footer {
  display: flex;
  flex-direction: column;
}

.grupoRedes {
  display: flex;
  justify-content: center;
}

.redes {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.copyRight {
  display: flex;
  place-content: center;
  padding: 10px;
  font-family: "Moders", sans-serif;
  color: var(--morado);
}

/* TEXT OTRAS PAGINAS */
.text {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  font-size: var(--text-medium);
  font-family: sans-serif;
}

@media only screen and (max-width: 768px) {
  .galeriaPrincipal {
    width: auto;
    height: 350px;
    background-color: antiquewhite;
    display: flex;
    place-content: center;
  }

  .foto1 {
    display: none;
  }

  .foto2 {
    display: block;
    margin: 0;
    margin-top: 50px;
    width: 340px;
    height: 240px;
    transform: rotate(-0deg);
  }

  .foto3 {
    display: none;
  }
  .foto4 {
    display: none;
  }
  .foto5 {
    display: none;
  }
}

@media all and (max-width: 1025px) and (min-width: 768px) {
  .galeriaPrincipal {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    place-content: center;
  }

  .foto1 {
    margin-left: 40px;
    width: 230px;
    transform: rotate(-12deg);
    margin-top: 25px;
    margin-bottom: 100px;
  }

  /* FOTO 2 */
  .foto2 {
    margin-left: 50px;
    width: 390px;
    height: 270px;
    transform: rotate(8deg);
  }

  .foto3 {
    margin-left: 50px;
    width: 240px;
    height: fit-content;
  }

  .foto4 {
    margin-top: -50px;
    margin-left: 50px;
    width: 250px;
    transform: rotate(5deg);
  }

  .foto5 {
    display: none;
    margin-left: 50px;
    width: 250px;
    transform: rotate(12deg);
  }
}

@media all and (max-width: 1440px) and (min-width: 1025px) {
  .galeriaPrincipal {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    place-content: center;
  }

  .foto1 {
    margin-left: 40px;
    width: 250px;
    transform: rotate(-12deg);
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .foto2 {
    margin-left: 50px;
    width: 420px;
    height: 270px;
    transform: rotate(8deg);
  }

  .foto3 {
    margin-left: 50px;
    width: 260px;
    height: fit-content;
    transform: rotate(4deg);
  }

  .foto4 {
    display: none;
  }
  .foto5 {
    display: none;
  }

  .iconoEnlace {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media all and (max-width: 9000px) and (min-width: 1440px) {
  .button-menu {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    height: 30px;
    width: 70vw;
    margin-left: 400px;
    transition: none;
    background-color: var(--ocrer-light);
    z-index: 100;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--ocrer-light);

    width: 70%;
    height: 25px;
    padding: 20px;
  }

  .link-item1:hover::after {
    width: 0;
  }
  .link-item2:hover::after {
    width: 0;
  }
  .link-item3:hover::after {
    width: 0;
  }
  .link-item4:hover::after {
    width: 0;
  }

  .link-item5:hover::after {
    width: 0;
  }
  .galeriaPrincipal {
    width: 100vw;
    display: flex;
    place-content: center;
  }

  .foto1 {
    margin-top: -15px;
    margin-left: 40px;
    width: 250px;
    transform: rotate(-12deg);
  }

  .foto2 {
    margin-top: 15px;
    margin-left: 50px;
    width: 430px;
    height: 300px;
    transform: rotate(-8deg);
  }

  .foto3 {
    margin-top: -50px;
    margin-left: 50px;
    width: 250px;
  }

  .foto4 {
    margin-top: -15px;
    margin-left: 50px;
    width: 250px;
    transform: rotate(5deg);
  }

  .foto5 {
    margin-top: -15px;
    margin-left: 50px;
    width: 250px;
    transform: rotate(12deg);
  }
}
